<!doctype html>
<html>
<head>
    <title>Meadowlark Travel</title>
</head>
<body>
<ul>
    <li><a href="/">Object</a></li>
    <li><a href="/AllRanchers">Rancher</a></li>
    <li><a href="/Action">Action</a></li>
</ul>
{{{body}}}
<ul>
    <li>Food</li>
    <li>Water</li>
    <li>Electrysity</li>
    <li>Bead</li>
</ul>
</body>
</html>