<table>
    <tr>
        <td>Name</td>
        <td>Bounty</td>
        <td>Action</td>
    </tr>
    {{#each Action}}
        <form method="get" action="OpenAction">
        <tr>
            <td>{{name}}</td>>
            <td>{{price}}</td>
            <input type="hidden" name="ActionId" value="{{id}}">
            <input type="hidden" name="action" value="AddActivity">
            <td><input type="submit" value="Open"></td>
        </tr>
        </form>
    {{/each}}
</table>