<table>
    <tr>
        <td>Name</td>
        <td>Bounty</td>
        <td>Action</td>
    </tr>
    {{#each Action}}
        <tr>
            <td>{{name}}</td>>
            <td>{{price}}</td>
            <td id="Action{{id}}"></td>
        </tr>
    {{/each}}
</table>