<form method="post" action="registration">
    <label>UserName</label>
    <input name="Username" type="text"/><br/>
    <label>Email</label>
    <input name="Email" type="text"/><br/>
    <label>Password</label>
    <input name="Password" type="password"/><br/>
    <input name="registration" type="submit" value="Registration">
</form>